<div id="<%= dom_id event %>">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= event.title %></strong><br>
        </p>

        <p>
          <%= event.description %>
        </p>

        <p>
          <small><%= event.date %></small>
          
        </p>

        <p>
          <small><%= event.location %></small>
        </p>
      </div>
    </div>
  </article>

</div>