<nav class="navbar is-dark">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <h1 class="title is-5">Eventer</h1>
    <% end %>

    <div class="navbar-burger burger" data-target="navbarExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">

            <% if user_signed_in? %>

              <p class="control">
                <%= link_to "Create Event", new_event_path, class: "button is-info is-inverted" %>
              </p>

              <p class="control">
                <%= link_to current_user.user, edit_user_registration_path, class: "button is-dark" %>
              </p>

              <p>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "button is-dark" %>
              </p>

            <% else %>

              <p class="control">
                <%= link_to "Create Event", new_user_session_path, class: "button is-info is-inverted" %>
              </p>

              <p class="control">
                <%= link_to 'Log In', new_user_session_path, class: "button is-dark"  %>
              </p>

              <p class="control">
                <%= link_to 'Sign Up', new_user_registration_path, class: "button is-dark"  %>
              </p>

            <% end %>

          </div>
        </div>
      </div>
  </div>
</nav>